git:
  quiet: true

# ÷∏∂®”Ô—‘
language: c

install:
  echo "install sth here"
before_script:
  echo "before script"
script:
  - echo "aaaa"
  - ./build.sh

after_script:
  echo "after script"

